body {
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Lexend Mega", sans-serif;
}
  .transitions-section {
  padding: 50px;
  text-align: center;

}
.transition-button {
  background-color: hsl(46, 100%, 49%);
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.2s ease;
}

.transition-button:hover {
  transform: scale(1.1);
}
  .transitions-nombre {
  padding: 20px;
  text-align: center;
}


.menu-container{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
}



.menu-box{
    width:250px;
}


.menu-box input{
    display:none;
}


.menu-btn{
    display:block;
    text-align:center;
    padding:20px;
    border-radius:40px;
    background:hsl(46, 100%, 49%);
    color:hsl(229, 49%, 15%);
    font-size:28px;
    cursor:pointer;
    transition:0.3s;
}


.menu-btn:hover{
    transform:scale(1.1);
}


.menu-content{
    max-height:0;
    overflow:hidden;
    background:hsl(46, 100%, 49%);
    border-radius:20px;
    margin-top:10px;
    transition:max-height 0.4s ease;
    padding:0 20px;
}


.menu-content p{
    padding:15px 0;
}


.menu-box input:checked ~ .menu-content{
    max-height:200px;
}
  .container {
    margin: 1% auto;
    height: 120vh;
    border-radius: 10px;
    text-align: center;

  }
  #boca {
    text-align: center;
  }
  
  #torneos {
    text-align: center;
  }

#contenido {
  display: none;
}

#contenido {
  opacity: 0;
  transition: opacity 1.5s ease;
}

#contenido.mostrar {
  opacity: 1;
}
